@model IEnumerable<OnlineShop.Models.Categoria>

@{
    ViewBag.Title = "Tienda";
}

<h2>Buscar Categoria</h2>


<p>

    seleccionar de estos @Model.Count()
    generos:
</p>
<ul>
    @foreach (var Categoria in Model)
    {
        <li>@Html.ActionLink(Categoria.Nombre,"Buscar",new { categoria = Categoria.Nombre})</li>
    }

</ul>
