@model IEnumerable<OnlineShop.Models.Categoria>

<div>
    <ul>
        @foreach (var categoria in Model)
            {
            <li>
                @Html.ActionLink(categoria.Nombre, "Buscar", "Tienda", new { Categoria = categoria.Nombre }, null)
            </li>
        }
    </ul>
</div>
 
