@model int

@{
    ViewBag.Title = "Revision Completa";
}
<h2>Revision Completa</h2>
<p>Gracias por su compra! El numero de su compra es: @Model</p>
<p>
    Comprar mas de nuestros productos!
    @Html.ActionLink("Tienda",
"Index", "Home")
</p>