@model int
@{
    ViewBag.Title = "Checkout Complete";
}
<h2>Pedido Completado</h2>
<p>Thanks for your order! Your order number is: @Model</p>
<p>
    Para comprar mas productos visite nuestra
    @Html.ActionLink("Tienda",
"Index", "Home")
</p>